[Unit]
Description=roscore
After=default.target

[Install]
WantedBy=default.target

[Service]
Environment="ROS_HOSTNAME=%H.local"
Environment="ROS_MASTER_URI=http://%H.local:11311/"
Restart=on-failure

ExecStart=/bin/bash -c "source /opt/ros/melodic/setup.bash && /opt/ros/melodic/bin/roscore"

