[Unit]
Description=roscore
After=multi-user.target

[Install]
WantedBy=multi-user.target

[Service]
Environment="ROS_HOSTNAME=%H.local"
Environment="ROS_MASTER_URI=http://%H.local:11311/"
Restart=on-failure

User=ros
ExecStart=/bin/bash -c "source /opt/ros/melodic/setup.bash && /opt/ros/melodic/bin/roscore"

