[Unit]
Description=Launch a ROS launch file
After=roscore.service
BindsTo=roscore.service

[Install]
WantedBy=roscore.service

[Service]
Environment="ROS_HOSTNAME=%H.local"
Environment="ROS_MASTER_URI=http://%H.local:11311/"
Restart=on-failure

ExecStart=/bin/bash -c "source /home/ros/catkin_ws/devel/setup.bash && roslaunch --wait package launch_file.launch"

